<?xml version="1.0" encoding="UTF-8" ?>
<!--
	* This file is part of the CPAC website.
	* Copyright 2014 Tyler Anthony Romeo
	*
	* The CPAC website is free software: you can redistribute it and/or modify
	* it under the terms of the GNU Affero General Public License as published by
	* the Free Software Foundation, either version 3 of the License, or
	* (at your option) any later version.
	*
	* Foobar is distributed in the hope that it will be useful,
	* but WITHOUT ANY WARRANTY; without even the implied warranty of
	* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	* GNU Affero General Public License for more details.
	*
	* You should have received a copy of the GNU Affero General Public License
	* along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:fos_user="http://example.org/schema/dic/fos_user"
           xmlns:fos-rest="http://example.org/schema/dic/fos_rest"
           xmlns:sensio-framework-extra="http://symfony.com/schema/dic/symfony_extra">
	<fos_user:config
		db-driver="orm"
		firewall-name="main"
		user-class="Cpac\ManagerBundle\Entity\User" />

	<sensio-framework-extra:config>
		<sensio-framework-extra:view annotations="false" />
	</sensio-framework-extra:config>

	<fos-rest:config>
		<fos-rest:routing-loader default-format="json" />
		<fos-rest:view view-response-listener="force">
			<fos-rest:templating-format name="html">false</fos-rest:templating-format>
		</fos-rest:view>
		<fos-rest:format-listener>
			<rule path="^/" fallback_format="json" />
		</fos-rest:format-listener>
	</fos-rest:config>
</container>
