<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		<section id="body">
			{% block body %}
			{% endblock %}
		</section>
	</body>
</html>
